asgiref==3.8.1
Django==5.1.1
django-crispy-forms==2.3
crispy-bootstrap4==2024.1
gunicorn==23.0.0
packaging==24.2
pillow==11.0.0
python-dotenv==1.0.1
pytz==2025.1
sqlparse==0.5.3
whitenoise==6.8.0
tzdata==2025.1