{% load static %}
 <!-- Scripts -->
    <script src="{% static 'back-end/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'back-end/js/custom.min.js' %}"></script>
    <script src="{% static 'back-end/js/settings.js' %}"></script>
    <script src="{% static 'back-end/js/gleek.js' %}"></script>
    <script src="{% static 'back-end/js/styleSwitcher.js' %}"></script>

    <!-- Chartjs -->
    <script src="{% static 'back-end/plugins/chart.js/Chart.bundle.min.js' %}"></script>
    <!-- Pignose Calender -->
    <script src="{% static 'back-end/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'back-end/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <!-- ChartistJS -->
    <script src="{% static 'back-end/plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'back-end/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

    <script src="{% static 'back-end/js/dashboard/dashboard-1.js' %}"></script>