<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Moyanoli ERP | {{ user.username }}</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'back-end/images/favicon.png' %}">

    <!-- Pignose Calender -->
    <link href="{% static 'back-end/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'back-end/plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'back-end/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'back-end/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Preloader start -->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div id="main-wrapper">

        <!-- Nav header start -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="{% url 'dashboard' %}">
                    <b class="logo-abbr"><img src="{% static 'back-end/images/logo.png' %}" alt="M"> </b>
                    <span class="logo-compact"><img src="{% static 'back-end/images/logo-compact.png' %}" alt=""></span>
                    <span class="brand-title">
                        <strong class="text-white">MOYANOLI</strong>
                    </span>
                </a>
            </div>
        </div>

        <!-- Header start -->
        {% include 'back-end/query/header.html' %}

        <!-- Sidebar start -->
        {% include 'back-end/query/sidebar.html' %}

        <!-- Content body start -->
        <div class="content-body">
            <div class="container-fluid mt-3">

                <div class="row">
                    {% if fonctionKey == 'admin' or fonctionKey == 'sous-admin' %}
                    <!-- Carte Utilisateurs / Personnel -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Personnel Actif</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{ utilisateurs }}</h2>
                                    <p class="text-white mb-0">Comptes enregistrés</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-user-md"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- Carte Patients (Exemple d'ajout futur) -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Patients</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{ total_patients|default:"0" }}</h2>
                                    <p class="text-white mb-0">Dossiers médicaux</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-wheelchair"></i></span>
                            </div>
                        </div>
                    </div>
                    {% elif fonctionKey == 'receptionniste' %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Patients</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{ total_patients|default:"0" }}</h2>
                                    <p class="text-white mb-0">Dossiers médicaux</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-wheelchair"></i></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- Section principale pour les graphiques ou tableaux -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Activité de l'hôpital</h4>
                                <div id="activity-chart">
                                    <!-- Tes graphiques Chartist iront ici -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Footer start -->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; <strong>Moyanoli ERP</strong> 2026 | Système de Gestion Hospitalière</p>
            </div>
        </div>
    </div>

   {% include 'back-end/query/js.html' %}

</body>
</html>
