<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Enregistrement Matériel - HMS</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'back-end/assets/img/favicon.ico'%}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'back-end/assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'back-end/assets/plugins/fontawesome/css/all.min.css'%}" >
    <link rel="stylesheet" href="{% static 'back-end/assets/plugins/fontawesome/css/fontawesome.min.css'%}" >
    <link rel="stylesheet" href="{% static 'back-end/assets/css/select2.min.css'%}">
    <link rel="stylesheet" href="{% static 'back-end/assets/css/style.css'%}">
</head>

<body>
    <div class="main-wrapper">
        {% include 'back-end/include/header.html' %}
        {% include 'back-end/include/sidebar.html' %}

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="page-title">Ajouter un Matériel</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card mb-0">
                            <div class="card-body">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Désignation <span class="text-danger">*</span></label>
                                                <input class="form-control" type="text" name="nom" placeholder="Ex: PC HP ProBook" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Numéro de Série (S/N) <span class="text-danger">*</span></label>
                                                <input class="form-control" type="text" name="numero_serie" placeholder="Unique" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Catégorie <span class="text-danger">*</span></label>
                                                <select class="select" name="categorie" required>
                                                    <option value="" disabled selected>-- Choisir --</option>
                                                    <option value="LAPTOP">Ordinateur Portable</option>
                                                    <option value="DESKTOP">Ordinateur de Bureau</option>
                                                    <option value="TABLET">Tablette</option>
                                                    <option value="PRINTER">Imprimante</option>
                                                    <option value="MEDICAL">Appareil Médical</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Service d'Affectation <span class="text-danger">*</span></label>
                                                <select class="select" name="service" required>
                                                    <option value="" disabled selected>-- Sélectionner --</option>
                                                    {% for s in services %}
                                                        <option value="{{ s.id }}">{{ s.nomService }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Marque</label>
                                                <input class="form-control" type="text" name="marque">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Modèle</label>
                                                <input class="form-control" type="text" name="modele">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Notes techniques / Description</label>
                                                <textarea class="form-control" name="description" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-t-20 text-center">
                                        <button class="btn btn-primary submit-btn">Enregistrer le matériel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'back-end/assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'back-end/assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'back-end/assets/js/jquery.slimscroll.js'%}"></script>
    <script src="{% static 'back-end/assets/js/select2.min.js'%}"></script>
    <script src="{% static 'back-end/assets/js/app.js'%}"></script>
</body>
</html>