{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Menu Principal</li>

                <li class="active">
                    <a href="{% url 'panel'%}"><i class="fas fa-th-large"></i> <span>Tableau de Bord</span></a>
                </li>

                {% if fonction == 'admin' or fonction == 'sous-admin' %}
                <li class="submenu">
                    <a href="#"><i class="fas fa-users-cog"></i> <span> Personnel </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'employeAdd' %}">Ajouter Employé</a></li>
                        <li><a href="{% url 'employeRead'%}">Liste Employés</a></li>
                        <li><a href="{% url 'profilRead'%}">Profils Utilisateurs</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-user-injured"></i> <span> Patients </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'patientAdd' %}">Ajouter Patient</a></li>
                        <li><a href="{% url 'patientRead' %}">Liste des Patients</a></li>
                        <li><a href="{% url 'liste_patients_consultes' %}">Patients Consultés</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Finance </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'historique_paiements' %}">Historique Paiements</a></li>
                        <li><a href="{% url 'tableau_bord_finance' %}">Rapports Financiers</a></li>
                        <li><a href="{% url 'gestion_depenses' %}">Gestion Dépenses</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="{% url 'liste_ordonnances_infirmier' %}"><i class="fas fa-pills"></i> <span>Suivi Traitements</span></a>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-boxes"></i> <span> Logistique </span> <span class="menu-arrow"></span></a>
                <ul style="display: none;">
                    <li>
                        <a href="{% url 'liste_materiel' %}" class="{% if request.resolver_match.url_name == 'liste_materiel' %}active{% endif %}">
                        <i class="fas fa-clipboard-list"></i> Inventaire Matériel
                        </a>
                    </li>
        
                    <li>
                        <a href="{% url 'ajouter_materiel' %}" class="{% if request.resolver_match.url_name == 'ajouter_materiel' %}active{% endif %}">
                        <i class="fas fa-plus-circle"></i> Ajouter Matériel
                        </a>
                    </li>
        <!-- <li>
            <a href="#" class="text-danger">
                <i class="fas fa-exclamation-triangle"></i> Matériels en Panne
            </a>
        </li> -->

                    <li>
                        <a href="{% url 'materiel_en_panne' %}">
                        <i class="fas fa-exclamation-triangle"></i> Matériels en Panne 
                        <span class="badge badge-pill bg-danger float-right">{{ en_panne }}</span>
                        </a>
                    </li>
            </ul>
            </li>

                {% elif fonction == 'receptionniste' %}
                <li>
                    <a href="{% url 'patientAdd' %}"><i class="fas fa-user-plus"></i> <span>Ajouter Patient</span></a>
                </li>
                <li>
                    <a href="{% url 'patientRead' %}"><i class="fas fa-address-book"></i> <span>Liste Patients</span></a>
                </li>
                <li>
                    <a href="{% url 'liste_patients_consultes' %}"><i class="fas fa-clipboard-check"></i> <span>Patients Consultés</span></a>
                </li>
                <li>
                    <a href="{% url 'historique_paiements' %}"><i class="fas fa-cash-register"></i> <span>Paiements</span></a>
                </li>
                <li>
                    <a href="{% url 'tableau_bord_finance' %}"><i class="fas fa-chart-pie"></i> <span>Finance</span></a>
                </li>
                <li>
                    <a href="{% url 'gestion_depenses' %}"><i class="fas fa-wallet"></i> <span>Dépenses</span></a>
                </li>

                <li class="menu-title">Gestion Hospitalière</li>
                <li>
                    <a href="{% url 'ajouter_chambre' %}"><i class="fas fa-door-closed"></i> <span>Ajouter Chambre</span></a>
                </li>
                <li>
                    <a href="{% url 'ajouter_lit' %}"><i class="fas fa-bed"></i> <span>Ajouter Lit</span></a>
                </li>
                <li>
                    <a href="{% url 'liste_chambres' %}"><i class="fas fa-hospital-alt"></i> <span>Liste Chambres</span></a>
                </li>
                <li>
                    <a href="{% url 'liste_lits' %}"><i class="fas fa-procedures"></i> <span>Liste Lits</span></a>
                </li>

                {% elif fonction == 'infirmier' %}
                <li class="submenu">
                    <a href="#"><i class="fas fa-heartbeat"></i> <span> Soins & Patients </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'liste_soldes' %}">Prélever Signes Vitaux</a></li>
                        <li><a href="{% url 'historique_signes' %}">Historique Signes Vitaux</a></li> 
                        <li><a href="{% url 'liste_patients_consultes' %}">Patients Consultés</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'liste_ordonnances_generale' %}">
                        <i class="fas fa-hand-holding-medical"></i> <span>liste Ordonnances</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'liste_ordonnances_infirmier' %}"><i class="fas fa-pills"></i> <span>Suivi Traitements</span></a>
                </li>

               
                {% elif fonction == 'medecin' %}
                <li class="submenu">
                    <a href="#"><i class="fas fa-stethoscope"></i> <span> Consultation </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'liste_attente_medecin' %}">File d'attente</a></li>
                        <li><a href="{% url 'historique_signes' %}">Historique Signes Vitaux</a></li> 
                        <li><a href="{% url 'liste_patients_consultes' %}">Patients Consultés</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'resultats_labo_medecin' %}">
                        <i class="fas fa-microscope"></i> <span>Résultats Labo</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'liste_ordonnances_generale'%}"><i class="fas fa-prescription"></i> <span>liste Ordonnances</span></a>
                </li>

                {% elif fonction == 'laborantin' %}
                <li>
                    <a href="{% url 'liste_examens_labo' %}"><i class="fas fa-flask"></i> <span>Examens Labo</span></a>
                </li>
                {% elif fonction == 'pharmacien' %}
                <li class="submenu">
                    <a href="#">
                        <i class="fas fa-pills"></i> 
                        <span> Pharmacie </span> 
                        <span class="menu-arrow"></span>
                    </a>
                    <ul style="display: none;">
                        <li class="{% if request.resolver_match.url_name == 'dashboard_pharmacie' %}active{% endif %}">
                    <a href="{% url 'dashboard_pharmacie' %}"><i class="fas fa-chart-line"></i> <span>Dashboard Pharma</span></a>
                </li>
                        <li>
                            <a href="{% url 'ajouter_medicament' %}">
                            <i class="fas fa-plus-square"></i> <span>Nouveau Médicament</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'ajouter_stock' %}">
                                <i class="fas fa-plus-circle"></i> Entrée de Stock
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'liste_stock' %}">
                                <i class="fas fa-plus-circle"></i> Liste Stock
                            </a>
                        </li>


                        <li class="{% if request.resolver_match.url_name == 'effectuer_vente' %}active{% endif %}">
    <a href="{% url 'effectuer_vente' %}">
        <i class="fas fa-plus-circle"></i> <span>Nouvelle Vente</span>
    </a>
</li>

<li class="{% if request.resolver_match.url_name == 'historique_ventes' %}active{% endif %}">
    <a href="{% url 'historique_ventes' %}">
        <i class="fas fa-history"></i> <span>Historique Ventes</span>
    </a>
</li>
                    </ul>
                </li>

                <li class="{% if request.resolver_match.url_name == 'livraison_pharmacie' %}active{% endif %}">
    <a href="{% url 'livraison_pharmacie' %}">
        <i class="fas fa-boxes"></i> 
        <span>Livraisons Pharma</span>
        <span class="badge badge-pill badge-danger float-right">
            New
        </span>
    </a>
</li>
                {% else %}
                {% endif %}
                
                    <li class="{% if request.resolver_match.url_name == 'modifier_mon_mdp' %}active{% endif %}">
                            <a href="{% url 'modifier_mon_mdp' %}">
                                <i class="fas fa-user-lock"></i> 
                                <span>Changer password</span> 
                            </a>
                    </li>
            </ul>
        </div>
    </div>
</div>