<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Hôpital - Liste des Employés</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'back-end/assets/img/favicon.ico'%}">
    
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'back-end/assets/css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="{% static 'back-end/assets/plugins/fontawesome/css/all.min.css'%}" >

    <link rel="stylesheet" href="{% static 'back-end/assets/css/dataTables.bootstrap4.min.css'%}">

    <link rel="stylesheet" href="{% static 'back-end/assets/css/style.css'%}">
</head>

<body>
    <div class="main-wrapper">
        {% include 'back-end/include/header.html' %}
        {% include 'back-end/include/sidebar.html' %}

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Employés</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="{% url 'employeAdd' %}" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Ajouter un Employé</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row filter-row">
                            <div class="col-sm-6 col-md-9">
                                <div class="form-group form-focus mb-0">
                                    <label class="focus-label">Rechercher par nom, email ou ID...</label>
                                    <input type="text" id="customSearch" class="form-control floating">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <button id="btnSearch" class="btn btn-success btn-block"> FILTRER </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableEmploye" class="table table-striped table-bordered dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom d'utilisateur</th>
                                        <th>Email</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for listeUser in userListe %}
                                    <tr>
                                        <td>#{{ listeUser.id }}</td>
                                        <td><strong>{{ listeUser.username }}</strong></td>
                                        <td>{{ listeUser.email }}</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'profilAdd' listeUser.id %}"><i class="fas fa-user-circle m-r-5"></i> Profil</a>
                                                    <a class="dropdown-item" href="{% url 'admin_force_password' listeUser.id %}">
    <i class="fas fa-key m-r-5 text-danger"></i> Forcer le mot de passe
</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-pen m-r-5"></i> Modifier</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_employee"><i class="far fa-trash-alt m-r-5"></i> Supprimer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4" class="text-center">Aucun enregistrement trouvé</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="delete_employee" class="modal fade delete-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h3>Êtes-vous sûr de vouloir supprimer cet employé ?</h3>
                        <div class="m-t-20"> 
                            <a href="#" class="btn btn-white" data-dismiss="modal">Annuler</a>
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'back-end/assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'back-end/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'back-end/assets/js/jquery.slimscroll.js' %}"></script>

    <script src="{% static 'back-end/assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'back-end/assets/js/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            // Initialisation de DataTable
            var table = $('#tableEmploye').DataTable({
                "pageLength": 10,
                "bLengthChange": false, // On cache le sélecteur de nombre d'entrées
                "language": {
                    "search": "", // On cache le label de recherche par défaut
                    "zeroRecords": "Aucun résultat trouvé",
                    "info": "Affichage de _START_ à _END_ sur _TOTAL_ employés",
                    "infoEmpty": "Aucun employé disponible",
                    "paginate": {
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                }
            });

            // Lier notre barre de recherche personnalisée au tableau
            $('#customSearch').on('keyup', function() {
                table.search(this.value).draw();
            });

            // Action du bouton Filtrer (optionnel car le keyup suffit)
            $('#btnSearch').on('click', function() {
                table.search($('#customSearch').val()).draw();
            });
        });
    </script>
    
    <script src="{% static 'back-end/assets/js/app.js' %}"></script>
</body>
</html>