<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Hôpital | {{user.username}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'back-end/assets/img/favicon.ico'%}">

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'back-end/assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'back-end/assets/plugins/fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'back-end/assets/css/select2.min.css'%}">
    <link rel="stylesheet" href="{% static 'back-end/assets/css/style.css'%}">
</head>

<body>
    <div class="main-wrapper">
        {% include 'back-end/include/header.html'%}
        {% include 'back-end/include/sidebar.html'%}

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="admin_title mb-4">DASHBOARD</h4>
                    </div>
                </div>
                
                <div class="row">
                    {% if fonction == 'admin' or fonction == 'sous-admin' %}
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg1">
                                <img src="{% static 'back-end/assets/img/icons/icon-1.png'%}" alt="Icon" width="25">
                            </span>
                            <div class="dash-widget-info float-left pl-2">
                                <h4>{{nbrU}}</h4>
                                <p>Total Utilisateurs</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2">
                                <img src="{% static 'back-end/assets/img/icons/icon-3.png'%}" alt="Icon" width="25">
                            </span>
                            <div class="dash-widget-info float-left pl-2">
                                <h4>{{nbrP}}</h4>
                                <p>Total Patients</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3">
                                <img src="{% static 'back-end/assets/img/icons/icon-2.png' %}" alt="Icon" width="25">
                            </span>
                            <div class="dash-widget-info float-left pl-2">
                                <h4>50</h4>
                                <p>Chambres</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg4">
                                <img src="{% static 'back-end/assets/img/icons/icon-4.png' %}" alt="Icon" width="25">
                            </span>
                            <div class="dash-widget-info float-left pl-2">
                                <h4>25</h4>
                                <p>Médecins</p>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
        </div>
    </div>

    <script src="{% static 'back-end/assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'back-end/assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'back-end/assets/js/jquery.slimscroll.js'%}"></script>
    <script src="{% static 'back-end/assets/js/select2.min.js'%}"></script>
    <script src="{% static 'back-end/assets/js/app.js'%}"></script>
</body>
</html>